.icon-btn {
  color: #000000;
}

.icon-btn:hover {
  color: #000000;
}

.field {
  margin-bottom: 1.5rem;
}

.field input::-webkit-input-placeholder {
  color: #848482;
  opacity: 70%;
  font-size: smaller;
}

.field input:-ms-input-placeholder {
  color: #848482;
  opacity: 70%;
  font-size: smaller;
}

.field input::-ms-input-placeholder {
  color: #848482;
  opacity: 70%;
  font-size: smaller;
}

.field input::placeholder {
  color: #848482;
  opacity: 70%;
  font-size: smaller;
}

.field .example {
  margin: 0.25rem 0;
}

.field .field-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 720px) {
  .field-end button {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
