* {
  font-family: 'Quicksand', Quicksand, sans-serif;
}

body {
  background-color: #fafafa;
}

.brand {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.25rem;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand .text-brand {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  color: #0066cb;
}

.brand .text-brand .primary {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.brand .text-brand .secondary {
  font-size: 0.75rem;
  line-height: 0.8rem;
  letter-spacing: 0;
  text-indent: 1px;
}

.centering-box {
  min-height: 100vh;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centering-box .login-box .title {
  color: #0066cb;
  font-size: 1.75rem;
  margin-bottom: 0;
}

.centering-box .login-box .field {
  margin-bottom: 1rem;
}

.centering-box .login-box .field .material-icons {
  color: #848482;
}

.centering-box .login-box .password-field .forgot-password {
  font-size: 0.875rem;
}

.centering-box .login-box .password-field .form-control {
  border-right: none;
}

.centering-box .login-box .password-field .show-password-toggle {
  background-color: inherit;
  border: 1px solid #ced4da;
  border-left: none;
}

.centering-box .login-box .password-field .show-password-toggle .material-icons {
  color: #1976d2;
}

@media screen and (max-width: 640px) {
  .centering-box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
