header {
  display: inline;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 6;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 4px #d3d3d3;
          box-shadow: 1px 1px 4px #d3d3d3;
}

.navbar .navbar-brand {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.25rem;
}

.navbar .navbar-brand .text-brand {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  color: #0066cb;
}

.navbar .navbar-brand .text-brand .primary {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.navbar .navbar-brand .text-brand .secondary {
  font-size: 0.75rem;
  line-height: 0.8rem;
  letter-spacing: 0;
  text-indent: 1px;
}

.navbar .hamburger-menu {
  background-color: inherit;
  border: none;
  display: none;
}

.navbar .hamburger-menu .line {
  width: 1.5rem;
  height: 3px;
  background-color: #1976d2;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .hamburger-menu.close .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar .hamburger-menu.close .line2 {
  opacity: 0;
}

.navbar .hamburger-menu.close .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.navbar .navbar-collapse .nav-link {
  display: inline-block;
  color: #1976d2 !important;
}

.navbar .navbar-collapse .nav-link.active {
  font-weight: 600;
}

.navbar .navbar-collapse .nav-link:hover {
  font-weight: bolder;
}

.navbar .navbar-collapse .button-group .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.navbar .profile-menus .btn {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0.125rem 0;
}

.navbar .profile-menus .btn-primary {
  color: #0066cb;
}

.navbar .profile-menus .btn-danger {
  color: #bb2d3b;
}

@media screen and (max-width: 992px) {
  .navbar .hamburger-menu {
    display: inline;
  }
  .navbar .button-group {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 300px) {
  .navbar .navbar-brand .text-brand {
    display: none;
  }
  .navbar .button-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
