* {
  font-family: 'Quicksand', Quicksand, sans-serif;
}

.left-box, .right-box {
  padding: 1rem;
  height: 100%;
}

.left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-box .login-box {
  min-width: 60%;
  max-width: 24rem;
}

.left-box .login-box .title {
  color: #0066cb;
  font-weight: 500;
}

.left-box .login-box .field {
  margin-bottom: 1.25rem;
}

.left-box .login-box .field .material-icons {
  color: #848482;
}

.left-box .login-box .password-field .form-control {
  border-right: none;
}

.left-box .login-box .password-field .show-password-toggle {
  background-color: inherit;
  border: 1px solid #ced4da;
  border-left: none;
}

.left-box .login-box .password-field .show-password-toggle .material-icons {
  color: #1976d2;
}

.right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1976d2;
  color: #ffffff;
}

.right-box .container {
  padding: 0;
}

.right-box .container .cover {
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 640px) {
  .left-box, .right-box {
    padding: 2rem 1rem;
  }
  .left-box .login-box {
    width: 100%;
  }
  .right-box .cover {
    max-width: 50vw !important;
    height: auto;
  }
  .right-box h3 {
    font-size: 1.25rem;
  }
}
