@import '../global/var';

.icon-btn {
    color: #000000;
}

.icon-btn:hover {
    color: #000000;
}

.field {
    margin-bottom: 1.5rem;

    input::placeholder {
        color: map-get($grey, 'battleship');
        opacity: 70%;
        font-size: smaller;
    }

    .example {
        margin: 0.25rem 0;
    }

    .field-end {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 720px) {
    .field-end {
        button {
            flex-basis: 100%;
        }
    }
}
