@import '../global/var';

.faq-menus {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
    padding: 0.25rem;

    max-width: 100%;
    overflow-x: auto;

    .menu {
        border-radius: 1rem;
    }
}

.contacts {
    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}

.information {
    font-size: smaller;
}
