@import '../global/var';
@import '../global/typography';

body {
    min-width: 200px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.material-icons, .fas ::before, .fab ::before {
    max-width: 1.5rem;
    max-height: 1.5rem;
    user-select: none;
}

.icon-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.25rem;
    background-color: unset;
    color: $primaryColor;
    border: unset;
    cursor: pointer;
}

.icon-btn:hover {
    color: $primaryColor;
}
