@import '../global/var';

.search-container {
    background-color: $primaryColor;
    padding: 3rem 1.5rem;

    .search-field {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .form-label {
            color: #ffffff;
            text-align: center;
        }

        .search-box {
            width: 50vw;
            min-width: fit-content;
            max-width: 40rem;

            i.material-icons {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .search-container {
        padding: 2rem 1.5rem;
    }
}
