.alert {
    position: fixed !important;
    top: 1.5rem !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 7 !important;
}

@media screen and (max-width: 480px) {
    .alert {
        min-width: 70vw !important;
    }
}
